# File: k8s/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api-deployment # Referenced by K8S_DEPLOYMENT_NAME in the GitHub Action
  labels:
    app: iris-classifier
spec:
  replicas: 2 # Maintain 2 instances of your API for high availability
  selector:
    matchLabels:
      app: iris-classifier
  template:
    metadata:
      labels:
        app: iris-classifier
    spec:
      containers:
      - name: iris-api-container # Referenced by kubectl set image command
        # This is a placeholder value. The GitHub Action (kubectl set image) 
        # will dynamically replace this entire string with the newly pushed 
        # Artifact Registry URI tagged with the commit SHA.
        image: AR_IMAGE_PLACEHOLDER_TO_BE_REPLACED:latest 
        ports:
        - containerPort: 8200
spec:
  replicas: 1 # Start with 1 replica for testing auto-scaling
  selector:
    matchLabels:
      app: iris-classifier
  template:
    metadata:
      labels:
        app: iris-classifier
    spec:
      containers:
      - name: iris-api-container
        image: YOUR_CLUSTER_REGION-docker.pkg.dev/YOUR_PROJECT_ID/YOUR_REPO_NAME/iris-api:latest 
        ports:
        - containerPort: 8200
        resources: # <-- ADD THIS BLOCK
          requests:
            cpu: "100m" # Request 0.1 CPU core
          limits:
            cpu: "500m" # Max usage limited to 0.5 CPU core (This helps observe bottlenecks)
